@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
    --bg-body: #fcfcfc;
    --color-white-100: #fff;
    --color-white-200: #f5f5f5;
    --color-gray-100: #ddd;
    --color-gray-200: #333;
    --color-blue: #00abfb;
    --base-font-size: 17px;
    --base-line-height: 27px;
    --base-font-family: 'Poppins Light';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    line-height: var(--base-line-height);
}

input {
    display: none;
}

span {
    display: block;
}



h1 {
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;

}

p {
    font-size: 14px;
}

.container {
    width: 800px;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

}


form {
    width: 600px;
    height: 480px;
    background-color: var(--color-white-200);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





label {
    width: 400px;
    height: 180px;
    background-color: var(--color-white-100);
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;

}


label:hover .b-animation {
    opacity: 0;
}



.i-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.i-upload svg {
    margin-bottom: 15px;
}

.i-upload span {
    line-height: 27px;

}

.wrapper-progress {
    display: flex;
    align-items: center;
    width: 400px;
    gap: 12px;
}

.progress {
    flex: 1;
}

.progress .progress-bar {
    background-color: var(--color-gray-100);
}

.progress .bar {
    width: 0;
    height: 10px;
    background-color: var(--color-blue);
}




.progress p {
    font-size: 14px;
    display: flex;
    color: var(--color-blue);
    font-weight: bold;
}


.b-animation span:first-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, var(--color-gray-200), var(--color-blue));
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.b-animation span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, var(--color-gray-200),
            var(--color-blue));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.b-animation span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, var(--color-gray-200),
            var(--color-blue));
    animation: animate3 2s linear infinite;
}

@keyframes animate3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.b-animation span:last-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background: linear-gradient(to top, var(--color-gray-200),
            var(--color-blue));
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}